<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= meta_title %></title>
        <link rel="icon" href="/static/theme/public/images/fav.png" type="image/gif" sizes="16x16" />

        <meta charset="utf-8" />
        <meta name="author" content="www.Tharproccess.com" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="/static/theme/public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <link href="/static/theme/public/css/animate.css" rel="stylesheet" type="text/css" />

        <link href="/static/theme/public/css/fontawesome-all.css" rel="stylesheet" type="text/css" />

        <link href="/static/theme/public/css/themify-icons.css" rel="stylesheet" type="text/css" />

        <link href="/static/theme/public/css/audioplayer/plyr.css" rel="stylesheet" type="text/css" />

        <link href="/static/theme/public/css/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

        <link href="/static/theme/public/css/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />

        <link href="/static/theme/public/css/base.css" rel="stylesheet" type="text/css" />

        <link href="/static/theme/public/css/shortcodes.css" rel="stylesheet" type="text/css" />

        <link href="/static/theme/public/css/style.css" rel="stylesheet" type="text/css" />

        <link href="/static/theme/public/css/responsive.css" rel="stylesheet" type="text/css" />

        
        <link href="/static/theme/public/css/custom.css" rel="stylesheet" type="text/css">

        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
                <!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143749344-1"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());

 

  gtag('config', 'UA-143749344-1');

</script>
<script> (function(ss,ex){ window.ldfdr=window.ldfdr||function(){(ldfdr._q=ldfdr._q||[]).push([].slice.call(arguments));}; (function(d,s){ fs=d.getElementsByTagName(s)[0]; function ce(src){ var cs=d.createElement(s); cs.src=src; cs.async=1; fs.parentNode.insertBefore(cs,fs); }; ce('https://sc.lfeeder.com/lftracker_v1_'+ss+(ex?'_'+ex:'')+'.js'); })(document,'script'); })('JMvZ8g0LGRd72pOd'); </script>
   
</head>

    <body>

        <div class="page-wrapper">
        
        <%- include('../partials/inner_header') %>
        <%- content %>
        <%- include('../partials/footer') %>
        </div>



        <div class="scroll-top">
            <a class="smoothscroll" href="#top"><i class="fas fa-chevron-up"></i></a>
        </div>

        <script src="/static/theme/public/js/theme.js"></script>

        <script src="/static/theme/public/js/audioplayer/plyr.min.js"></script>

        <script src="/static/theme/public/js/magnific-popup/jquery.magnific-popup.min.js"></script>

        <script src="/static/theme/public/js/owl-carousel/owl.carousel.min.js"></script>

        <script src="/static/theme/public/js/parallax/parallaxie.min.js"></script>

        <script src="/static/theme/public/js/counter/counter.js"></script>

        <script src="/static/theme/public/js/particle/jquery.particleground.min.js"></script>

        <script src="/static/theme/public/js/countdown/jquery.countdown.min.js"></script>

        <script src="/static/theme/public/js/isotope/isotope.pkgd.min.js"></script>

        <script src="/static/theme/public/js/contact-form/contact-form.js"></script>

        <script src="/static/theme/public/js/theme-script.js"></script>

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <script>
            AOS.init();
        </script>

    </body>
</html>
