<%- extend('layouts/page') %>



<div class="page-content">
    <section class="pb-17 sm-pb-8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <img src="/static/theme/public/images/404.png" style="width:60%;">
                    </center>
                </div>
            </div>
        </div>
    </section>
</div>

<style type="text/css">#header-wrap {
    background: #121628 !important;
}
</style>