<% extend('../layouts/default') %>
<div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Careers</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="/admin/careers">Careers</a>
                                    </li>
                                    <li class="breadcrumb-item active"><a href="#">Edit</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="form-group breadcrum-right">

                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Basic Horizontal form layout section start -->
                <section id="basic-horizontal-layouts">
                    <div class="row match-height">


                        <div class="col-md-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Edit Careers</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                      <ul id="validate_msg">
                                      <% errors.forEach(function(error){  %>
                                          <li rel="<%= error.msg %>"></li>
                                        <% }); %>
                                      </ul>

                                      <form class="form form-horizontal" method="POST" action="/admin/career/update/<%= data.id %>">
                                            
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-4">
                                                            <label>Title</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="position-relative">
                                                                <input type="text" id="fname-icon" value="<%= data.title %>" class="form-control" name="title" placeholder="Title">
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                  
                                                <div class="col-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-12" style="margin-bottom:15px;">
                                                            <label>Content</label>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="position-relative">
                                                               <textarea class="form-control" name="content"><%= data.content %></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                               
                                                <div class="col-md-8 offset-md-4">
                                                    <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                                                    <button type="reset" class="btn btn-outline-warning mr-1 mb-1">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic Horizontal form layout section end -->
            </div>
        </div>
    </div>
